<%-layout("/layouts/boilerplate") -%>
<div class="main">
        <div class="ganesha">
          <div class="top">
            <%- include("includes/top.ejs") %>
          </div>
         <div class="body">
             <%- include("includes/body.ejs") %>            
         </div>
        <div class="leg">
             <%- include("includes/bottom.ejs") %>
      </div>
</div>
<%- include('includes/menuBar.ejs') %>